body {
    height: 100vh;
    width: 100%;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #082b44;
}
.own-control {
    display:flex;
    flex-direction: row;

}
.powered-by-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.powered-by-text {
    color: #ffffff;
    font-size: 16px;
}

.logo-top {
    background-image: url(./sceenic.svg);
    background-repeat: no-repeat;
    width: 90px;
    height: 110px;
    background-size: contain;
    background-position: center;
}
.demo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.watch-together-button {
    margin: 2px;
    height: 40px;
    width: 150px;
    background-color: inherit;
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.875rem;
    line-height: 40px;
    vertical-align: top;
    padding: 0 10px;
    border-radius: 2px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;
}
.watch-together-button:hover {
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.7);
}
.watch-together-button:disabled {
    border: 1px solid rgba(124, 31, 31, 0.7);
}
.watch-together-button:disabled:hover {
    box-shadow: 0 1px 5px rgba(255, 0, 0, 0.7);
}
.player-ind{
    width: 60%;
    height: 50%;
    position:absolute;
    border: 1px solid #7b7b7b;
    top: 45px;
    left: 50%;
    transform: translate(-50%)
}
.control-panel{
 position: absolute;
    top: 58%;
}
.demo-button {
    width: 200px;
    text-transform: uppercase;
    height: 40px;
    background-color: #FFFFFF;
    border: 2px solid #7b7b7b;
    cursor: pointer;
}
.demo-button:hover {
    background: #7b7b7b;
    color: #fff;
}

#client-list{
    border: 1px solid #7b7b7b;
    width: 200px;
    height: 50%;
    position: absolute;
    top: 45px;
    right: 10px;
}
.item-client{
    border: 1px solid lightskyblue;
}
.remote-control-title{
    font-weight: bold;
}
.remote-control-panel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}